/lista_de_aquecimento/questao_1/bin/Main
/lista_de_aquecimento/questao_2/bin/main
/lista_de_aquecimento/questao_3/bin/main
/lista_de_aquecimento/questao_4/bin/main
/estrutura_de_dados/lista_ligada_inteiros_livro_ed/bin/driveIntSLList
/SFML/aprendendo_SFML/tutorial_1/bin/main
/SFML/aprendendo_SFML/my_first_SFML_Game/bin/game

#Executables
*.exe
*.out
*.app
*.o
*.depend
*.cbp

/SFML/SFML Plataform/bin/*
